.modal-background {
  background-color: aquamarine;
  background-size: cover;
  background-image: url('../../../assets/images/login-bg.jpg');
}

.field {
  opacity: 1 !important;
}

/*.modal-card {*/
/*  width: 400px;*/
/*}*/
