.picture-box-center-control-container {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.picture-upload-plus {
  cursor: pointer;
  color: green;
  opacity: 0.8;
}
.picture-upload-plus:hover {
  background-color: #c69500;
  padding: 4px;
  border-radius: 6px;
}
